*{
    color:white;
    background-color: black;
}

.my-hover:hover{

    color: #FFCB04!important;
}
.cus-color{
    color:#FFCB04!important;
}
.border-hover:hover{
    border-color: #FFCB04!important;
}