* {
    color: white;
    background-color: black;
}

.my-hover:hover {

    color: #FFCB04 !important;
}

.cus-color {
    color: #ffcb04 !important;
}

.border-hover:hover {
    border-color: #FFCB04 !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #ffcb04 !important;
}
.cus-bg{
    background-color: #FFCB04!important;
}

